@using UIS.Models;
@using System.Web.Mvc;


@helper Render(Post post, System.Web.Mvc.HtmlHelper html, bool showComment)
{

    var myVar = post.Image;

    <div class="panel panel-default">
        <div class="panel-heading">
            <span><b>@post.Title</b></span>
        </div>

        <div class="panel-body">
            <span class="glyphicon glyphicon-pencil"> @post.UserName</span>
            <span class="pull-right glyphicon glyphicon-calendar"> @post.DateTime</span>
        </div>

        <div class="panel-body panel-success">


            @{
                string shortPost;
                string postBody = @post.Body;
                int length = postBody.Length;

                //if (length == 0) shortPost = postBody.Substring(0, 0);
                //else shortPost = postBody.Substring(0, 200);

                if (length <= 300) shortPost = postBody;
                else shortPost = postBody.Substring(0, 300) + "...";

            }

            @{
                if (post.Image.Length == 0)
                { <img src="~/Picture/noImage.jpg" alt="" class="img-thumbnail" width="304" height="236"> }
                else
                { <img src="~/Images/@myVar" alt="" class="img-thumbnail" width="304" height="236"> }
            }


            <p style="text-align:justify;"><span>@shortPost</span></p>




            <span class="glyphicon glyphicon-expand"><a href="@Href("~/Blog/Details/" + post.ID)">Read More...</a></span>


        </div>
    </div>
 
}