@using UIS.Models;
@using System.Web.Mvc;

@helper Render(SemesterFee semesterFee, System.Web.Mvc.HtmlHelper html)
{

      <table class="table table-bordered">


       @{
           string payForSemester = semesterFee.payForSemester;
           string payableSemester = null;
           if (payForSemester == "1")
           {
               payableSemester = "Level:1 / Semester:1";
           }
           if (payForSemester == "2")
           {
               payableSemester = "Level:1 / Semester:2";
           }
           if (payForSemester == "3")
           {
               payableSemester = "Level:2 / Semester:1";
           }
           if (payForSemester == "4")
           {
               payableSemester = "Level:2 / Semester:2";
           }
           if (payForSemester == "5")
           {
               payableSemester = "Level:3 / Semester:1";
           }
           if (payForSemester == "6")
           {
               payableSemester = "Level:3 / Semester:2";
           }
           if (payForSemester == "7")
           {
               payableSemester = "Level:4 / Semester:1";
           }
           if (payForSemester == "8")
           {
               payableSemester = "Level:4 / Semester:2";
           }
       }

          <h3 style="text-align:center;font-weight:bold;">@payableSemester (Semester Fees Transaction)</h3>
            <thead>
                <tr>
                    <th>Student ID</th>
                    
                    <th style="text-align:center;">Date/Time</th>
                    <th>Receipt ID</th>
                    <th>Amount</th>
                    <th>Account Officer</th>
                    <th>Hall Clearance</th>

                </tr>
            </thead>

           <tbody>
              
               <tr>

                   <td><span class="pull-left glyphicon glyphicon-calendar">@semesterFee.studentId</span></td>
                
                   <td><span class="pull-left glyphicon">@semesterFee.dateTime</span></td>
                   <td><span class="pull-left glyphicon">@semesterFee.receiptId</span></td>
                   <td><span class="pull-left glyphicon">@semesterFee.amount</span></td>

                   @{
                       string colourSelector = semesterFee.status.ToString() ;
                       string currentStatus = "In Processing ...";
                 
                       if (semesterFee.status.ToString().Equals(currentStatus))
                       {
                            <td style="color:red;">@semesterFee.status</td>
                       }
                       else
                       {
                           <td style="color:green;">@semesterFee.status</td>
                       }
                   }
                  

                   <td><span class="pull-left glyphicon">@semesterFee.hallClearance</span></td>

               </tr>
            </tbody>

        </table>

   
}