<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/ckeditor/ckeditor.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/CustomBootstrap.css" rel="stylesheet" />
    <script src="~/sweetalart/sweetalert-dev.js"></script>
    <link href="~/sweetalart/sweetalert.css" rel="stylesheet" />
    <script src="~/sweetalart/sweetalert.min.js"></script>


</head>
<body>

    @* Navbar starts Here *@
    <nav class="my-navbar navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="AccountOfficer_navbar-header">

            <h1 style="color:white;font-family:'Bookman Old Style';">Admission (Student) Window</h1>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->

    </nav>

    @* Navbar Ends Here *@

    @* Side table Strats here *@

    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>

    <div class="row">
        <div class="col-md-3">

            <div class="container">

                <ul class="list-group">
                    <a href="~/Admission_student/check" class="list-group-item "><span class="glyphicon glyphicon-adjust"></span>&nbsp;<b>Download Admit Card</b></a>
                    <a href="~/Admission_student/give_sub_choice" class="list-group-item "><span class="glyphicon glyphicon-adjust"></span>&nbsp;<b>Give Subject & hall Choice</b></a>
                    @*<a href="~/DeanOffice/EnrollmentStatus" class="list-group-item "><span class="glyphicon glyphicon-adjust"></span>&nbsp;<b>Upload B Unit Result</b></a>
                    <a href="~/DeanOffice/EnrollmentStatus" class="list-group-item "><span class="glyphicon glyphicon-adjust"></span>&nbsp;<b>Upload C Unit Result</b></a>
                    <a href="~/Admission_admin/allotList" class="list-group-item "><span class="glyphicon glyphicon-eject"></span>&nbsp;<b>Update A-UNIT Allocation Table</b></a>
                    <a href="~/Admission_admin/allotList" class="list-group-item "><span class="glyphicon glyphicon-eject"></span>&nbsp;<b>Update B-UNIT Allocation Table</b></a>
                    <a href="~/Admission_admin/allotList" class="list-group-item "><span class="glyphicon glyphicon-eject"></span>&nbsp;<b>Update C-UNIT Allocation Table</b></a>
                    <a href="~/Admission_final/Home" class="list-group-item "><span class="glyphicon glyphicon-book"></span>&nbsp;<b>Final Admission</b></a>*@


                </ul>

            </div>

        </div>
        <div class="col-md-9">

            <div class="container body-content">
                @RenderBody()
                <hr />

            </div>

        </div>
        @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
