<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/ckeditor/ckeditor.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/CustomBootstrap.css" rel="stylesheet" />


</head>
<body>

    @* Navbar starts Here *@
    <nav class="my-navbar navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PSTU Info. System</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><b>Home</b></a></li>
                <li><a href="~/StudentInfo/Profile"><b style="color:white;">Student Information System</b></a></li>
                <li><a href="#"><b>Notice Board</b></a></li>
                <li><a href="#"><b>Phone Book</b></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Campus Blog</b> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="divider"></li>
                        <li><a href="~/Blog/CreatePost">Visit Blog Site</a></li>
                        @if (Session["userId"] != null)
                        {
                            <li class="divider"></li>
                            <li><a href="~/Blog/CreatePost">Write New Blog</a></li>
                            <li class="divider"></li>
                            <li><a href="@Href("~/Blog/BlogProfile/" + Session["userId"])">My Blog</a></li>
                        }

                    </ul>
                </li>
            </ul>
            <div class="col-sm-3 col-md-3 pull-right">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control " placeholder="Search" name="q">
                        <div class="input-group-btn">
                            <button class="btn btn-default " type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>



            @if (Session["userNick"] != null)
            {
                string nick = Session["userNick"].ToString();
                string pic = Session["photo"].ToString();

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b style="color: #00FF00; font-size: 18.5px;"><img src="~/proPic/@pic" class="img-circle" width="20" height="20">@nick</b><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="divider"></li>
                            <li><a href="@Href("~/Blog/logOut")">Log Out</a></li>

                        </ul>
                    </li>
                </ul>

            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b style="color: red; font-size: 18.5px;">User Account</b><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Account/loginstudent">Log In</a></li>
                            <li class="divider"></li>
                            <li><a href="~/Blog/MailAuth">Sign Up</a></li>
                        </ul>
                    </li>
                </ul>

            }


        </div><!-- /.navbar-collapse -->
    </nav>

    @* Navbar Ends Here *@


    @* Jumborton Strarts Here *@

    <div class="container">
        <div class="jumbotron">
            <h1 style="text-align:center;text">PSTU Information System NoticeBoard</h1>
            <p>
               This NoticeBoard Is Updated By Our Site Controller. For Any Information Please <a>Click Here To Contact ... </a>
            </p>
        </div>
        <p>This is some text.</p>
        <p>This is another text.</p>
    </div>

    @* Jumborton Ends Here *@

    @* Side table Strats here *@

    <div>&nbsp;</div>

    <div class="row">

        <div class="col-md-9">

            <div class="container body-content">
                @RenderBody()
                <hr />

            </div>

        </div>

        <div class="col-md-3">

            <div class="container">

                <ul class="list-group">
                    <a href="~/StudentInfo/Profile" class="list-group-item "><span class="glyphicon glyphicon-user"></span>&nbsp;<b>Faculty Of CSE</b></a>
                    <a href="~/ExamRoutine/Index" class="list-group-item "><span class="glyphicon glyphicon-time"></span>&nbsp;<b>Faculty Of Agriculture</b></a>
                    <a href="@Href("~/Blog/BlogProfile/" + Session["userId"])" class=" list-group-item "><span class=" glyphicon glyphicon-time"></span>&nbsp;<b>Faculty Of BBA</b></a>
                    <a href="~/Account/MailAuth" class="list-group-item"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;<b>Faculty Of Fisheries</b></a>
                    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-edit"></span>&nbsp;<b>Facluty Of DM</b></a>
                    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-edit"></span>&nbsp;<b>Faculty Of ANSVM</b></a>
                    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-edit"></span>&nbsp;<b>Faculty Of LAM</b></a>
                </ul>

            </div>

        </div>
      
        @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

